<p-dialog
  responsiveLayout="scroll"
  [(visible)]="showModal"
  [modal]="true"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  (onHide)="hideDialog()"
>
  <ng-template pTemplate="header">
    <span>
      <h3>{{ instrument.instrument.instrumentId }}</h3>
      <h6>{{ instrument.instrument.instrumentDescription }}</h6>
    </span>
  </ng-template>
  <hr />

  <div class="row">
    <div class="col-sm-7" id="targetPrice">
      {{ tradePrice | currency: "USD" }}
    </div>
    <div id="slider-bar" class="col-sm-5">
      <input type="text" pInputText [(ngModel)]="portfolio.quantity" readonly />
      <br />
      <p-slider
        [(ngModel)]="portfolio.quantity"
        [min] ="minQ"
        [max] = "maxQ"
      ></p-slider>
    </div>
  </div>

  <br />
  <hr />

  <div class="row">
    <div class="col-sm-8">Quantity</div>
    <div class="col-sm-4">
      {{  portfolio.quantity  }}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">Amount</div>
    <div class="col-sm-4">
      {{ instrument.bidPrice * portfolio.quantity | currency: "USD" }}
    </div>
  </div>

  <ng-template pTemplate="footer">
    <button type="submit" class="btn btn-success" (click)="generateOrder()">
      {{ buttonContent }}
    </button>
  </ng-template>
</p-dialog>
<p-toast key="buy"></p-toast>
