<form class="form-container">
    <div class="mb-3">
      <label for="Username" class="form-label">Username</label>
      <input type="email" class="form-control" id="username" aria-describedby="emailHelp">
      
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password">
    </div>

    <button type="submit" class="btn btn-light submit-btn">Submit</button>

    <a href="#">Forgot your password ?</a>
</form>