<form [formGroup]="loginForm" class="form-container mt-8" (ngSubmit)="onSubmit()">
    <div *ngIf="loginErrorMsg" class="alert alert-danger" id="errtxt" role="alert">
      {{loginErrorMsg}}
    </div>

  <div class="mb-3">
    <label for="Username" class="form-label">Email</label>
    <input
      type="email"
      class="form-control"
      aria-describedby="emailHelp"
      formControlName="email"
      id="username"
    />

    <div *ngIf="email?.touched || email?.dirty">
      <div *ngIf="email?.hasError('required')">
        <div id="errorText">{{ EmailErrorTextmsg }}</div>
      </div>
    </div>
    
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      formControlName="password"
    />

    <div *ngIf="password?.touched || password?.dirty">
      <div *ngIf="password?.hasError('required') || password?.hasError('minlength') || password?.hasError('maxlength') || password?.hasError('pattern')">
        <div id="errorText">{{ passwordErrorTextmsg }}</div>
      </div>
    </div>

  </div>

  <button type="submit" class="btn btn-light submit-btn">Submit</button>

  <a href="#">Forgot your password ?</a>
</form>
