<app-navbar></app-navbar>

<div class="container">
  <p class="h2">Your portfolio</p>

  <div class="table_prime" >
    <p-table
      [value]="portfolio"
      [rowHover]="true"
      [rows]="10"
      [rowsPerPageOptions]="[10, 25, 50]"
      responsiveLayout="scroll"
      [paginator]="true"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Stock</th>
          <th>Cost</th>
          <th>Market Value</th>
          <th>Gain/Loss</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-item >
        <tr  (click)=displaySellTab(item.instrumentid)>
          <td>{{ item.instrument }}</td>
          <td>{{ item.costprice }}</td>
          <td>{{ item.marketprice }}</td>

          <td
            [ngClass]="{
              'text-success': item.gain >= 0,
              'text-danger': item.gain < 0
            }"
          >
            {{ item.gain }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  
</div>

<div *ngIf="showModal">
  <app-trade-transaction
    (soldAllStocks)="setSoldAllStocks($event)"
    (showModalEvent)="hideDialog($event)"
    [instrument]="instrument"
    [order]="order"
  ></app-trade-transaction>
</div>
