div.container{
    font-family: 'Fidelity Sans', Arial, sans-serif;
    position: relative;
    top:0;
    padding:20px; 

}
.gain{
    background-color:green ;
}
/* .container .rounded table tbody tr .gain{
    background-color : pink ;
} */
.selected{
    display: none;
}