<div class="container">
  <p class="h2">Current Holdings</p>

  <div class="table_prime">
    <p-table
      #dt
      [value]="portfolio"
      [rowHover]="true"
      [rows]="10"
      [rowsPerPageOptions]="[10, 25, 50]"
      responsiveLayout="scroll"
      [paginator]="true"
    >
    <ng-template pTemplate="caption">
      <div class="flex">
          <span class="search-right">
            <!-- <i class="pi pi-search"></i> -->
              <!-- <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" /> -->
              <p-columnFilter type="text" field="instrument"></p-columnFilter>
              
            </span>
      </div>
  </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="instrument">Stock <p-sortIcon field="instrument"></p-sortIcon> </th>
          <th pSortableColumn="costprice"> Cost<p-sortIcon field="costprice"></p-sortIcon> </th>
          <th pSortableColumn="marketprice">Market Value <p-sortIcon field="marketprice"></p-sortIcon></th>
          <th pSortableColumn="gain">Gain/Loss<p-sortIcon field="gain"></p-sortIcon></th>
        </tr>

        <!-- <tr>
          <th>
            <p-columnFilter type="text" field="instrument"></p-columnFilter>
          </th>
          <th<p-columnFilter type="text" field="instrument"></p-columnFilter>
          </th>
          <th><p-columnFilter type="text" field="instrument"></p-columnFilter>
          </th>
          <th>
          </th>
        </tr> -->
      </ng-template>

      <ng-template pTemplate="body" let-item>
        <tr (click)="displaySellTab(item.instrumentid)">
          <td>{{ item.instrument }}</td>
          <td>{{ item.costprice }}</td>
          <td>{{ item.marketprice }}</td>

          <td
            [ngClass]="{
              'text-success': item.gain >= 0,
              'text-danger': item.gain < 0
            }"
          >
            {{ item.gain }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<div *ngIf="showModal">
  <app-trade-transaction
    (soldAllStocks)="setSoldAllStocks($event)"
    (showModalEvent)="hideDialog($event)"
    [instrument]="instrument"
    [order]="order"
  ></app-trade-transaction>
</div>
