<div class="jumbotron">
  <h1 class="display-4 text-center text-bold" style="height:40vh ;">Welcome</h1>
  
  <br><br><br><br><br>



</div>
<div>
  <p class="lead text-center text-bold">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <p class="text-center text-bold">It uses utility classes for typography and spacing to space content out within the larger container.</p>
</div>
<br>
<br>



<div class="row mt-71">
  <div class="col-sm-6">
    <div class="card card-bg">
      <div class="card-body">
        <h5 class="card-title text-white">Special title treatment</h5>
        <p class="card-text text-white">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Login</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card card-bg">
      <div class="card-body">
        <h5 class="card-title text-white">Special title treatment</h5>
        <p class="card-text text-white">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Register</a>
      </div>
    </div>
  </div>
</div>