<div class="mainPage">
    
    <div id="aroundCard">
      <div class="card" style="width: 18rem;height:18rem ">

        <div class="card-body">
          <p class="card-text">New generation of investors excited about investment opportunities.
            Individuals with a small disposable income who would
            benefit from investing in market-based instruments.</p>
        </div>
      </div>
    </div>

  <div id="aroundLogin">
    <button type="button" class="btn btn-success">Login</button>
    <button type="button" class="btn btn-success">SignUp</button>
  </div>
</div>
