<section class="pattern">
  <div class="text">
      <h1>SMALL CHANGE</h1>
  </div>
</section>

<!-- <div class="jumbotron">
  <h1 class="display-4 text-center text-bold" style="height:40vh ;">SmallChange</h1>
  
<br>

</div>
<div>
  <p class="lead text-center text-bold" style="font-family: 'Fidelity Sans', Arial, sans-serif;">SmallChange™ will allow investors to make discretionary trades or use an automated
    investment engine (Robo-Advisor) based on their preferred risk level. As well as an attractive
    low-cost structure.</p>
  <p class="text-center text-bold" style="font-family: 'Fidelity Sans', Arial, sans-serif; padding: 0; margin: 0;">No investment fees on portfolios up to 5000 USD. After that, a fee of 0.25% applies.</p>
   <p class="text-center text-bold">No minimum investment, but an opening deposit requirement of 20 USD, to set up the account.</p>
</div>
<br>
<br> -->


<!-- 
<div class="row mt-71">
  <div class="col-sm-6">
    <div class="card card-bg">
      <div class="card-body"> 
        <p class="card-text text-white" style="font-family: 'Fidelity Sans', Arial, sans-serif;">Already a SmallChange user, login to perform investment of your choices or use a Robo-Advisor</p>
        <a href="/login" id="login" class="btn btn-primary">Login</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card card-bg">
      <div class="card-body">
        <p class="card-text text-white" style="font-family: 'Fidelity Sans', Arial, sans-serif;">Invest smallchange that you find in your pocket, to make small change in your financial situation!</p>
        <a href="/register" id="reg" class="btn btn-primary">Register</a>
       
      </div>
    </div>
  </div>
</div> -->