<div class="container">
  <p class="h2">Trade History</p>

  <div class="table_prime">
    <p-table
      [value]="trade"
      [rowHover]="true"
      [rows]="10"
      [rowsPerPageOptions]="[10, 25, 50]"
      responsiveLayout="scroll"
      [paginator]="true"
    >
      <ng-template pTemplate="header">
        <tr>
          <th  pSortableColumn="instrumentId">Instrument ID<p-sortIcon field="instrumentId"></p-sortIcon></th>
          <th  pSortableColumn="quantity">Quantity<p-sortIcon field="quantity"></p-sortIcon></th>
          <th  pSortableColumn="executionPrice">Cost<p-sortIcon field="executionPrice"></p-sortIcon></th>
          <th>Direction</th>
          <th  pSortableColumn="cashValue">Cash Value<p-sortIcon field="cashValue"></p-sortIcon></th>
          <th  pSortableColumn="dateTime">Date<p-sortIcon field="dateTime"></p-sortIcon></th>
        </tr>

        <tr>
          <th>
            <p-columnFilter type="text" field="instrumentId"></p-columnFilter>
        </th>
        <th></th>
        <th></th>
        <th>
          <p-columnFilter field="direction" matchMode="equals" [showMenu]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-dropdown [ngModel]="value" [options]="categories" (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                      <ng-template let-option pTemplate="item">
                          <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                      </ng-template>
                  </p-dropdown>
              </ng-template>
          </p-columnFilter>
      </th>
        <th></th>
        <th></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-trade>
        <tr>
          <td>
            {{ trade.instrumentId }}
          </td>
          <td>{{ trade.quantity }}</td>
          <td>{{ trade.executionPrice }}</td>
          <td>{{ trade.direction }}</td>
          <td>{{ trade.cashValue }}</td>
          <td>{{ trade.order.dateTime | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
