<div class="container">
  <p class="h2">Trade History</p>

  <div class="table_prime">
    <p-table
      [value]="tradeHist"
      [rowHover]="true"
      [rows]="10"
      [rowsPerPageOptions]="[10, 25, 50]"
      responsiveLayout="scroll"
      [paginator]="true"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="asset">
            Asset Class
            <p-sortIcon field="asset"></p-sortIcon>
          </th>
          <th>Side</th>
          <th>Security</th>
          <th>Account</th>
          <th>Qty</th>
          <th>Cash Value</th>
          <th>Date</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-trade>
        <tr>
          <td>
            {{ trade.asset }}
          </td>
          <td>{{ trade.side }}</td>
          <td>{{ trade.security }}</td>
          <td>{{ trade.account }}</td>
          <td>{{ trade.qty }}</td>
          <td>{{ trade.cash }}</td>
          <td>{{ trade.date }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
