<div class="tradeTable" style="overflow-x: auto">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Current Price</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let instrument of instruments"
        
      >
        <td>
          <a id="symbol" href="javascript:void(0);" (click)="displayModal(instrument)"> {{ instrument.instrumentId }} </a><br />
          {{instrument.instrument.description}}
        </td>
        <td>{{ instrument.bidPrice }}</td>
        <td>{{ instrument.instrument.categoryId }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="showModal">
  <app-trade-transaction
    (showModalEvent)="hideDialog($event)"
    [instrument]="instrument"
    [order]="order"
  ></app-trade-transaction>
</div>
