#symbol {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(9, 9, 196);
}


tr:hover {
    background-color: #bbbdb7;
}

.table{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}