<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Symbol</th>
      <th scope="col">Price</th>
      <th scope="col">Min-Max</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let instrument of instruments"
      (click)="displayModal(instrument)"
    >
      <td>
        <span id="symbol">
          {{ instrument.instrumentId }} </span
        ><br />{{ instrument.instrument.description }}
      </td>
      <td>{{ instrument.bidPrice }}</td>
      <td>{{ instrument.instrument.description }}</td>
    </tr>
  </tbody>
</table>


