#symbol {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(9, 9, 196);
}


tr:hover {
    background-color: #234;
}

th{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: red;

} 